
 @font-face {
  font-family: 'Alegreya Sans';
  src: url("assets/fonts/AlegreyaSans-Medium.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Alegreya Sans';
  src: url("assets/fonts/AlegreyaSans-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: 'Alegreya Sans';
  src: url("assets/fonts/AlegreyaSans-ExtraBold.ttf");
  font-weight: 800;
}

* {
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	font: 400 16px/1.5 'Alegreya Sans', sans-serif;
	width: 100%;
	cursor: pointer;
}

.wrapper {
	width: 100%;
  min-height: 100vh;
  overflow: hidden;
	display: flex;
  flex-direction: column;
	justify-content: space-between;
}

.section {
	margin-bottom: 30px;
	background-color: rgba(51, 197, 40, 0.2);
	padding: 30px;
}

.container {
	max-width: 1440px;
  margin: 0 auto;
	
}

.header {
	display: flex;
	flex-direction: column;
	padding: 30px;
	margin: 30px 0;
	background-image: url(../assets/img/bg.jpg);
	background-position: 20% 0;
}

.header__content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header__wrapp-img {
	width: 150px;
	height: 150px;
	margin-bottom: 30px;
}

.header__img {
	border-radius: 50%;
	object-fit: cover;
  width: 100%;
  height: 100%;
	overflow: hidden;
	box-shadow: 14px 8px 0px rgba(204, 204, 204, 0.5);
}

.headline, .heading {
	margin-bottom: 30px;
}

.headline {
	text-transform: uppercase;
	font-weight: 800;
}

.heading {
	font-weight: 700;
}

.menu__list {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
  padding: 0;
}

.menu__item, .contacts__item, .list{
	display: flex;
	list-style: none;
	column-gap: 10px;
}

.menu__item::after {
 	content: "/";
	color: #fff;
}

.menu__link {
	text-decoration: none;
	color: #fff;
	font-weight: 800;
	text-shadow: 4px 4px 0 #9a9a9a;
}

.menu__link:hover {
	color: rgba(51, 197, 40);
	text-shadow: 1px 1px #fff;
	transition-duration: 0.3s;
}

.subtitle {
	text-align: center;
	color: rgba(51, 197, 40);
	padding-bottom: 30px;
	position: relative;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.subtitle::after {
	content: "";
	position: absolute;
	width: 40px;
	height: 3px;
	bottom: 3px;
	left: 48%;
	background-color: rgba(51, 197, 40);
}

.text {
	margin: 30px;
}

.minititle {
	text-align: center;
	color: rgba(51, 197, 40);
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.list__item {
	margin-left: 45px;
}

.item__link {
	text-decoration: none;
	color: inherit;
	color:  rgba(51, 197, 40);
	font-weight: 700;
}

.item__link:hover {
	color: #000;
}

.footer__container-border {
	border-top: 3px solid #9a9a9a;
}

.footer__container {
	display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer__left {
	display: flex;
	align-items: center;
}

.footer__logo {
	margin-right: 100px;
}

.footer__logo-img:hover {
	filter: blur(3px);
}

.socials {
	display: flex;
}

.socials__item:hover {
	filter: blur(3px);
}

.socials__item {
	list-style: none;
	margin-right: 25px;
}

.footer__right {
	display: flex;
	align-items: center;
}

.footer__contact {
	margin-right: 50px;
	display: flex;
}

.footer__img {
	margin-right: 10px;
	align-items: center;
}

.footer__link {
	margin-right: 20px;
	font-style: normal;
}

.mycontent::after{
	content: "\00A0 \00A9 \00A0 2022 Cycdid"; 
}   